<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks Form</title>
</head>
<body> <br><br>
    <div style=" text-align:center; width: 300px;margin: 0 auto;">
        <h4>Welcome to ToDo app</h4>
        <p>Please select the Option :-</p> <br> <br>
        <a href="/add" class="btn btn-primary">
            <button style="background-color: rgb(72, 236, 135);">Add Tasks</button>
        </a>
        <a href="/view" class="btn btn-primary">
            <button style="background-color: rgb(137, 169, 238);">View Tasks</button>
        </a>
        <a href="/delete" class="btn btn-primary">
            <button style="background-color: rgb(218, 92, 42);">Delete Tasks</button>
        </a>
    </div> 
</body>
</html>